.item {
  display: flex;
  align-items: center;
  width: 370px;
  padding: 10px;
  border-radius: 10px;
  background-color: bisque;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 14px -6px rgba(75, 75, 78, 1);
  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    box-shadow 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 14px -6px rgb(192, 180, 112);
}

.item + .item {
  margin-top: 10px;
}

.name {
  margin-left: 10px;
}

.status {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.261);
  font-weight: 400;
}
