.statistics {
  border-radius: 4px;
  overflow: hidden;
  width: 370px;
  box-shadow: 2px 2px 14px -6px rgba(75, 75, 78, 1);
  margin-bottom: 20px;
}

.title {
  background-color: rgb(245, 247, 241);
  padding: 20px 0;
  text-align: center;
  color: rgba(33, 31, 31, 0.839);
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}

.statlist {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-top: 5px;
  padding-bottom: 10px;
}

.item:not(:last-child) {
  border-right: 1px solid #ccc;
}

.label {
  color: rgb(101, 101, 101);
  font-weight: 300;
  font-size: 16px;
}

.percentage {
  color: rgba(33, 31, 31, 0.839);
  font-weight: 700;
  margin-top: 5px;
}
