.transactionHistory {
  border-spacing: 2px;
  width: 370px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

thead {
  background-color: rgb(31, 187, 210);
}

th {
  padding: 10px 0;
  color: azure;
}

td {
  background-color: rgb(253, 253, 253);
  padding: 5px 0;
  text-align: center;
}

td.odd {
  background-color: rgb(236, 241, 244);
}
